body {
  overflow: hidden;
  background: linear-gradient(#f7fdb1, #c8e8ed);
}
.container {
  border: 1px solid black;
  width: 95%;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  width: 370px;
  margin: auto;
  border-radius: 2px;
  background-color: #ded473;
  padding: 15px 15px 20px 20px;
  box-shadow: 0px 2px 4px 0px rgb(70, 68, 68);
}

#userInput {
  box-sizing: border-box;
  width: 99%;
  padding: 40px 5px;
  background: #f1eded;
  text-align: right;
  direction: ltr;
  outline: none;
  border: none;
}

.btn {
  width: 24%;
  height: 45px;
  border-radius: 1px;
  border: none;
  outline: none;
  margin-top: 3px;
  background: #f1eded;
}

.btnEqual {
  width: 99%;
  height: 45px;
  border-radius: 1px;
  border: none;
  outline: none;
  margin-top: 3px;
  background: #e3f2f4;
}

.btn:hover,
.btnEqual:hover {
  background: rgba(128, 128, 128, 0.1);
}

@media (max-width: 480px) {
  .btn {
    width: 23.4%;
  }
}
@media (max-width: 320px) {
  .btn {
    width: 23%;
  }
}
